# ignore old folder and any .mat data
.gitignore~
old/
old/*
*.pyc
__pycache__/
*.mat
*.DS_Store
*.ipynb_checkpoints
*.ipynb_checkpoints/*
./PreProcessing/TasksDir
./PreProcessing/TasksDir/*
TasksDir
TasksDir/*
*.m~